<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>정보보호 및 보안점검 표</h2>
        <p th:text="'점검기간: ' + ${fromYear} + '.' + ${fromMonth} + '.' + ${fromDay} + ' ~ ' + ${toYear} + '.' + ${toMonth} + '.' + ${toDay}"></p>
    </div>

    <form th:action th:object="${formdto}" method="post">

        <div>
            <label for="name" th:text="#{label.formdto.name}">이름</label>
            <input type="text" id="name" th:field="*{name}"
                   th:errorclass="field-error" class="form-control" placeholder="이름을 입력하세요">
            <div class="field-error" th:errors="*{name}">
                이름 오류
            </div>
        </div>

        <div class="flex-row">
            <div>
                <label for="emailname" th:text="#{label.formdto.emailname}">이메일</label>
                <input type="text" id="emailname" th:field="*{emailname}"
                       th:errorclass="field-error" class="form-control" placeholder="이메일을 입력하세요">
                <div class="field-error" th:errors="*{emailname}"></div>
            </div>
            <span>@nicednr.co.kr</span>
        </div>

        <div class="row">
            <div class="col">
                <label for="phoneNumber1" th:text="#{label.formdto.phoneNumber}">휴대전화</label>
            </div>
            <div class="col">
                <input type="text" id="phoneNumber1" th:field="*{phoneNumber1}"
                       th:errorclass="field-error" class="form-control" placeholder="010">
                <div class="field-error" th:errors="*{phoneNumber1}"></div>
            </div>
            <div class="col">
                <input type="text" id="phoneNumber2" th:field="*{phoneNumber2}"
                       th:errorclass="field-error" class="form-control" placeholder="1234">
                <div class="field-error" th:errors="*{phoneNumber2}"></div>
            </div>
            <div class="col">
                <input type="text" id="phoneNumber3" th:field="*{phoneNumber3}"
                       th:errorclass="field-error" class="form-control" placeholder="5678">
                <div class="field-error" th:errors="*{phoneNumber3}"></div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="extensionNumber1" th:text="#{label.formdto.extensionNumber}">내선번호</label>
            </div>
            <div class="col">
                <input type="text" id="extensionNumber1" th:field="*{extensionNumber1}"
                       th:errorclass="field-error" class="form-control" placeholder="02">
                <div class="field-error" th:errors="*{extensionNumber1}"></div>
            </div>
            <div class="col">
                <input type="text" id="extensionNumber2" th:field="*{extensionNumber2}"
                       th:errorclass="field-error" class="form-control" placeholder="123">
                <div class="field-error" th:errors="*{extensionNumber2}"></div>
            </div>
            <div class="col">
                <input type="text" id="extensionNumber3" th:field="*{extensionNumber3}"
                       th:errorclass="field-error" class="form-control" placeholder="4567">
                <div class="field-error" th:errors="*{extensionNumber3}"></div>
            </div>
        </div>


        <p>IP 주소: <span th:text="${formdto.ip}"></span></p>
        <p>브라우저 정보: <span th:text="${formdto.browser}"></span></p>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">정보 등록</button>
            </div>
        </div>

    </form>

</div>
</body>
</html>
