<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>NICE D&R - Admin Page</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h2 class="text-center">NICE D&R</h2>
            <h3 class="text-center">나이스 관리자 페이지</h3>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">질문</th>
                    <th scope="col">필수여부</th>
                    <th scope="col">Email</th>
                    <th scope="col">파일명</th>
                    <th scope="col">Response</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="answerResponse : ${answersResponse}">
                    <td th:text="${answerResponse.id}"></td>
                    <td th:text="${answerResponse.content}"></td>
                    <td>
                        <span th:if="${answerResponse.isRequired}" th:text="'필수'"></span>
                        <span th:unless="${answerResponse.isRequired}" th:text="'선택'"></span>
                    </td>
                    <td th:text="${answerResponse.emailName}"></td>
                    <td th:text="${answerResponse.decryptedResponse}"></td>
                    <td>
                        <div th:if="${#strings.startsWith(answerResponse.response, 'https://')}">
                            <img th:src="${answerResponse.response}" width="200" />
                            <br>
                            <a th:href="${answerResponse.response}" th:text="${answerResponse.response}"></a>
                        </div>
                        <span th:unless="${#strings.startsWith(answerResponse.response, 'https://')}" th:text="${answerResponse.response}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Include jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
