<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Password</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h3>계정의 비밀번호가 초기비밀번호이거나 변경한지 90일이 되었기 때문에 비밀번호를 변경하셔야합니다.</h3>
    <!-- Password Change Form -->
    <form th:action="@{/change-password}" th:object="${changePasswordDto}" method="post">
        <div class="form-group">
            <label for="newPassword">새로운 비밀번호</label>
            <input type="password" class="form-control" id="newPassword" th:field="*{newPassword}" placeholder="New Password">
            <!-- 오류 메시지를 표시하는 span 태그 추가 -->
            <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="error"></span>
        </div>
        <button type="submit" class="btn btn-primary">비밀번호 변경하기</button>
    </form>
</div>

<!-- Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
