<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Checklist</title>
    <style>
        .required {
            color: red;
        }
        .optional {
            color: black;
        }
    </style>
</head>
<body>
<div th:if="${!#lists.isEmpty(errors)}">
    <h2>There were errors with your submission:</h2>
    <ul>
        <li th:each="error : ${errors}" th:text="${error}"></li>
    </ul>
</div>
<form action="#" th:action="@{/question}" method="post" th:object="${answer}">
    <table>
        <tr>
            <th colspan="4">체크리스트</th>
        </tr>
        <tr th:each="question, stat : ${question}" th:class="${#lists.contains(errors, 'Response for question ID ' + question.id + ' is required') ? 'field-error' : ''}">
            <td th:text="${stat.count}"></td>
            <td th:text="${question.content}">
                <!-- Question content will be inserted here -->
            </td>
            <td th:class="${question.isRequired ? 'required' : 'optional'}"
                th:text="${question.isRequired ? '필수' : '선택'}">
                <!-- '필수' or '선택' will be inserted here depending on the value of isRequired -->
            </td>
            <td>
                <!-- radio type -->
                <div th:if="${question.type.name() == 'RADIO'}">
                    <input type="hidden" th:name="'questionId' + ${stat.index}" th:value="${question.id}">
                    <input type="radio" th:name="'response' + ${stat.index}" th:value="'예'"> 예
                    <input type="radio" th:name="'response' + ${stat.index}" th:value="'아니오'"> 아니오
                </div>

                <!-- checkbox type -->
                <div th:if="${question.type.name() == 'CHECKBOX'}">
                    <input type="hidden" th:name="'questionId' + ${stat.index}" th:value="${question.id}">
                    <input type="checkbox" th:name="'response' + ${stat.index}" th:value="'예'"> 예
                    <input type="checkbox" th:name="'response' + ${stat.index}" th:value="'아니오'"> 아니오
                </div>

                <!-- select type -->
                <div th:if="${question.type.name() == 'SELECT'}">
                    <input type="hidden" th:name="'questionId' + ${stat.index}" th:value="${question.id}">
                    <select th:name="'response' + ${stat.index}">
                        <option th:value="'예'">예</option>
                        <option th:value="'아니오'">아니오</option>
                    </select>
                </div>

                <!-- input type -->
                <div th:if="${question.type.name() == 'INPUT'}">
                    <input type="hidden" th:name="'questionId' + ${stat.index}" th:value="${question.id}">
                    <input type="text" th:name="'response' + ${stat.index}" placeholder="답변을 입력해주세요">
                </div>
            </td>
        </tr>
    </table>
    <input type="submit" value="제출">
</form>
</body>
</html>
