<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Checklist</title>
    <style>
        .required {
            color: red;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th colspan="4">체크리스트</th>
    </tr>
    <tr>
        <td>1</td>
        <td>
            PC Filter프로그램 전체실행을 수행한 후 검증된 파일을 제거 또는 암호화 하였습니까?
            개인 PC 및 생활보안 점검사항을 제출하시려면 사전에 PCFilter를 실형하여 전체검사 하신후 PCFilter 면을 캡처하시기 바랍니다.
            PCFilfer화면 캡처(Alt + PrintScrn)하시고 원도우 보조프로그림 중 그림판을 실행하여 붙여넣기(Ctrl + V)후 저장하시면 됩니다.
            <input type="file" accept="image/*" />
        </td>
        <td class="required">필수</td>
        <td>
            <input type="radio" name="option1" value="yes"> 예
            <input type="radio" name="option1" value="no"> 아니오
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>
            CMOs 및 윈도우 로그인 패스워드는 설정되어 있으며, 패스워드는 아래와 같이 회사 권고사항을 준수하고 있습니다.
            영문소문자, 영문대문자,숫자, 특수문자 중 세가지 이상 조합으로 8자이상 이거나, 두가지 조합으로 10자이상으로 설정하고 있습니다.
        </td>
        <td class="required">필수</td>
        <td>
            <input type="radio" name="option2" value="yes"> 예
            <input type="radio" name="option2" value="no"> 아니오
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>Window 및 옹용프로그램은 최신 보안 패치로 적용되어 있습니까?</td>
        <td class="required">필수</td>
        <td>
            <input type="radio" name="option3" value="yes"> 예
            <input type="radio" name="option3" value="no"> 아니오
        </td>
    </tr>
</table>
</body>
</html>
